.service_item{
    padding: 20px;
    display: flex;
    column-gap: 0.7rem;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    color: aliceblue;
}
.service_item span i{
    font-size: 2.2rem;
    background: var(--primary-color);
    padding: 10px;
    border-radius: 50px;
    color: white;
    font-weight: 400 ! important ;
}
.service_item h3{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.1rem;
}
.service_item p{
    margin-top: 5px;
    font-size: 0.9rem;
    color: var(--primary-color);
}